extends layout

block content
    h1= title

    form(id='CarForm', action="/resource/car", method="POST")
        div.form-group
            label.carAttr(for='car_make') Car type
            input#car_make(type='text', name='car_make')
        div.form-group
            label.carAttr(for='model') Car model
            input#model(type='text', name='model')
        div.form-group
            label.carAttr(for='cost') Car cost
            input#cost(type='number', name='cost')
    input(type="submit")
script.
    document.forms['CarForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
    });